$primary-color: #535353;
$secondary-color: #424242;
$trinary-color: #646464;
$layer-selected: lighten($trinary-color, 12%);
$border-color: #383838;
$dark-color: #282828;
$font-color: #ddd;
$options-height: 40px;