* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: sans-serif;
  letter-spacing: 1px;

  .root {
    display: flex;
    flex-direction: column;

    .workspace {
      display: flex;
      flex-direction: row;
      height: calc(100vh - 50px);

      .workarea {
        display: flex;
        background-color: #444;
        height: inherit;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
      }

      .panels {
        width: 300px;
        background: #333;
        height: inherit;
        box-shadow: -2px 0 2px rgba(0, 0, 0, 0.5);
        z-index: 100;
      }
    }
  }
}
@import './components/canvas';
@import './components/tools';
@import './components/options';
@import './components/panels';