.tools {
  height: inherit;
  min-width: 40px;
  max-width: 40px;
  background: $secondary-color;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 4px;

  .tool {
    text-align: center;
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-bottom: 5px;

    & > .btn {
      display: flex;
      border: solid 1px transparent;
      border-radius: 3px;
      color: #555;
      height: 100%;
      position: absolute;
      top: 0;
      align-items: center;
      padding: 5px;
      cursor: pointer;

      svg {
        width: 100%;
        fill: $font-color;
        max-height: 25px;
      }
    }

    & > .btn:hover,
    &.active > .btn {
      background: $primary-color;
      border: solid 1px $border-color;

      & > svg {
        fill: $font-color;
        width: 100%;
      }
    }
  }
}