extends ../index
block content
  //- script(src=`../../js/client/main.js` type='module')
  script require('#{js}/main')
  .root
    .options
    .workspace
      .tools
      .workarea#workarea
        .workarea-tab-group
        .workarea-group
        //- .primary
          canvas#draft(width='800' height='600')
          canvas#primary(width='800' height='600')
          canvas#bg(width='800' height='600')
      .panels
        //- .tab-group
        //- .panel-group